@model PokéBase.Models.Pokemon

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Pokemon</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <h3>@ViewData["Log"]</h3>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="pokeID"/>
            <div class="form-group">
                <label asp-for="dexNum" class="control-label"></label>
                <input asp-for="dexNum" class="form-control"/>
                <span asp-validation-for="dexNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control"/>
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="originalTrainer" class="control-label"></label>
                <input asp-for="originalTrainer" class="form-control"/>
                <span asp-validation-for="originalTrainer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
