@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<p>I have been very interested in pokemon from a young age, and know the ins and outs of it very well. 
    I could tell you the stats of each individual pokemon and their moveset; every detail under the sun. 
    Because I knew so much about this topic, I thought that I could make a very in-depth database that 
    included all of the information I knew. I originally thought that I would make a database that would 
    link the pokemon to their moves, but with the time constraint of the assignment I decided to connect 
    pokemon to a theoretical trainer instead. The web application contains two tables, one containing 
    pokemon, and one containing trainers. The trainers contain their names and trainer classes, and 
    automatically assigns an ID much like the games do. The Pokemon table contains species, current 
    trainer ID, nickname, and a hidden pokemon ID that is shown in the games. It was originally going to 
    add a moveset that would contain four moves from another table. It was also originally going to load 
    the dropdown menu with pokemon names, which would have been taken from another table in the database.  
    If I could expand on this I would make an interconnected lattice of which trainer owns which pokemon, 
    and which route they would be on. I would add moves, evolve methods, levels, BST comparisons, and more. 
    Knowing how much data goes into these games I feel like I would have a lot of room to expand and update 
    this project as I learn more. </p>
