<!--
Ben Cecutti
OOP3200
03 Dec 2021
ErrorScreen.cshtml
-->
@{
    ViewData["Title"] = "ErrorScreen";
}

<!-- inform the user of error -->
<div class="col-md-8 offset-2">
    There was an error inputting your information. Please return to the input page and try again.
</div>
