@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Pokebase!</h1>
    <p>This website was built to help organize and catalogue various trainer's pokemon.</p>
</div>
